:root {
    --scheme : azure;
}

body {
    margin: 0;
    background-color:rgba(0, 0, 0, 0.96)
}

.header-wrapper {
    background-color: rgb(1, 32, 35);
    color: azure;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form {
    display : none;
    background : rgba(18, 18, 18)
}

.button {
    height: 100%;
    padding: 12px 15px;
    font-family:monospace;
    font-size: large;
    background-color:rgb(255, 230, 0);
    border: 0;
    border-radius: 10px;
}

.form-wrapper{
    border: 3px solid azure;
    margin: 5% 10%;
    padding: 3% 3% 1.75%;
    color: var(--scheme);
    font-family:monospace;
    font-size: 1.3rem;
}

label{
    margin: 2%; 
}
input {
    margin: 2%; 
    padding: 0.9%;
    border-radius: 7px;
    border: 0;
}
input:focus{
    outline: 0;
}

.form-wrapper .button {
    padding: 9px 20px;
    background-color: var(--scheme);
}

.button:hover {
    background-color: azure;
    cursor:pointer;
}

span {
    float: right;
    display: flex;
    align-items: center;
}

#open {
    display: none;
    color: azure;
    margin-top: 3%;
    font-size: 0.9em;
}

#details {
    align-self: center;
    margin: 0 3%;
}

.detail {
    align-self: center;
    margin : 10px 0;
}

#delete {
    flex-grow: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color :rgb(225, 38, 38);
    cursor: pointer;
    margin-bottom: 0;
}

#show {
    margin-top: 20px;
    opacity: 0.7;
    font-size: 0.75em;
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
    text-align: center;
}

#show:hover{
    opacity: 1;
}

.footer {
    color: rgb(170, 170, 170);
    font-style: italic;
    margin: 3%;
    font-size: large;
}

@media (max-width: 512px){
    #open {
        margin: 5% 0 2%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .header-wrapper {
        padding: 20px;
        flex-direction: column;
    }
    #show:hover{
        opacity: 0.7;
    }
    .button:hover {
        background-color: rgb(255, 230, 0);
    }
}

  


